.pet-display{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pet{
  position: relative;
  width: 185px;
  height: 150px;
  border-radius: 100px 100px 50px 50px;
  background-color: #f3df95;
  box-shadow: inset 5px -5px 15px 3px rgba(0, 0, 0, 0.3),
              inset -10px 10px 10px 10px rgba(255, 255, 255, 0.15);

  .eye{
    background-color: #000;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    position: absolute;
    bottom: 75px;
    &.left{
      left: 30px;
    }

    &.right{
      right: 30px;
    }
    &:after{
      content:'';
      position: absolute;
      background: #fff;
      border-radius: 100%;
      height: 5px;
      width: 5px;
      top: 3px;
      right: 3px;
    }
  }
  .mouth{
    background-color: #000;
    height: 35px;
    width: 65px;
    border-radius: 20px 20px 70px 70px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
